<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <input v-model="question.title"> 
    <input v-model="question.text"> 
    <button @click="addQuestion()">Agregar Pregunta</button>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'home',
  components: {
    HelloWorld
  },
  data(){
    return{
      question:{
        title:'',
        description:''
      }
    }
  },
  methods:{
    addQuestion: async function(){
            let responde=await fetch ('/api/question',
                {method:'POST',body:JSON.stringify(this.question),
                    headers:{'Content-Type':'application/json;charset=utf-8'}})
        }
  }
}
</script>
